<div class="quality">
    <h2>Why Plae?</h2>
    <span class="short_info">Some of the features that make Plae shoes so good for kids</span>
</div>
<div class="address">
    <h2>Where can you find us? </h2>
    <span class="short_info">See below our UK stockist list</span>
    <div class="address_location">
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
        <div class="address_location_magazine">
            <h3>Best Foot Forward</h3>
            <div>76 Liverpool Road</div>
            <div>Preston</div>
            <div>PR1 0QD</div>
            <a href="tel:02089697565">0208 969 7565</a>
            <a href="mailto:bestfootforward.co.uk" class="site">bestfootforward.co.uk </a>
        </div>
    </div>
</div>
