<div class="slider">
    <div class="slider_text">
        <h2>The Range</h2>
        <span class="short_info">View the styles available now from select stockists</span>
    </div>
    <div class="slider_list">
        <div class="foto">
            <img src="img/n_steel.png" alt="carousel_images">
            <div class="slider_name">TY</div>
            <div class="slider_number">1/7</div>
        </div>
        <div>
            <img src="img/steel_camo.png" alt="carousel_images">
            <div class="slider_name">MAX</div>
            <div class="slider_number">2/7</div>
        </div>
        <div>
            <img src="img/emme.png" alt="carousel_images">
            <div class="slider_name">EMME</div>
            <div class="slider_number">3/7</div>
        </div>
        <div>
            <img src="img/emme.png" alt="carousel_images">
            <div class="slider_name">CAMILLE</div>
            <div class="slider_number">4/7</div>
        </div>
        <div>
            <img src="img/noel.png" alt="carousel_images">
            <div class="slider_name">NOEL</div>
            <div class="slider_number">5/7</div>
        </div>
        <div>
            <img src="img/roan.png" alt="carousel_images">
            <div class="slider_name">ROAN</div>
            <div class="slider_number">6/7</div>
        </div>
        <div>
            <img src="img/nat.png" alt="carousel_images">
            <div class="slider_name">NAT</div>
            <div class="slider_number">7/7</div>
        </div>
    </div>
</div>
